@model List<CariVM>
@{
    ViewData["Title"] = "Index";

}

<div class="container">
    <div class="row">
        <div class="col-5">
            <div class="col-md-4">
                <div class="row"><h1>@TempData["Name"]</h1></div>
                <div class="row"><p></p></div>
                <table>
                    <tr><td><button type="button" class="btn btn-dark btn-lg " onclick="listele()">Cari Listele</button></td></tr>
                    <tr><td><button type="button" class="btn btn-dark btn-lg " onclick="getData()">Kur Görüntüle</button></td></tr>

                    <tr>
                        <td>
                            <form id="log-out" class="form" action="/home/index" method="post">

                                <a href="/home/Index" class="btn btn-dark btn-lg ">Çıkış</a>

                            </form>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        @*<div class="col-7">
            <div class="row" id="carilistele">
                <div class="col-6 ">
                    <tr><td><button type="button" class="btn btn-dark bs-tooltip-auto" onclick="eklemepopupacma()">Yeni Cari Ekle</button></td></tr>
                    @(Html.DevExtreme().DataGrid<CariVM>()
                .ID("cariDatagrid")
                .DataSource(ds=>ds.Mvc().Controller("Kullanici").LoadAction("LoadList").Key("CariId"))
    .Selection(s => s.Mode(SelectionMode.Single))
    .HoverStateEnabled(true)
    .ShowBorders(true)

    .Columns(columns => {
        columns.AddFor(m => m.CariId)
            .Width(70);

        columns.AddFor(m => m.Unvan);

    })

    .OnSelectionChanged("selection_changed")
)

                    <div id="info">
                        <div class="col-md-6">
                            <table class="table">

                                <thead class="thead-dark">

                                    <tr>
                                        <th scope="col">Telefonlar</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <th id="tel"></th>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                        <div class="col-md-6">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Adresler</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th id="address"></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <br />
                <br />

                <div class="col-6" id="buton">
                    @foreach (CariVM cariVM in Model)
                    {

                        <table>
                            <tr>
                                <td><a href="#" class="Sil" name=" @cariVM.CariId">Sil</a></td>
                                <td><button type="button" class="btn btn-dark btn-sm" onclick="update(@cariVM.CariId)">Güncelle</button></td>

                            </tr>
                        </table>


                    }
                </div>
            </div>
        </div>*@




    </div>
</div>
<div>
    @(Html.DevExtreme().DataGrid()
    .ID("gridContainerasdasdadssdsdsd")
    .ShowBorders(true)
    // .DataSource(d => d.Array().Data(new JS("list")).Key("CurrencyName"))
    .DataSource(new JS("list"))

    .Columns(c => {
        c.Add().DataField("Id").Visible(true);
        c.Add().DataField("DovizCinsi");
        c.Add().DataField("DovizAlis").Format(Format.Currency);
        c.Add().DataField("DovizSatis").Format(Format.Currency);
        c.Add().DataField("EfektifAlıs").Format(Format.Currency);
        c.Add().DataField("EfektifSatis").Format(Format.Currency);
    })
)

</div>

@(Html.DevExtreme().Popup().ID("cariekleguncelle")

      .ContentTemplate(new TemplateName("carieklegucelleteplate")))

@using (Html.DevExtreme().NamedTemplate("carieklegucelleteplate"))
{
    <div id="cariekleguncellediv">

    </div>

}

@(Html.DevExtreme().Popup().ID("cariupdate")
      .ContentTemplate(new TemplateName("cariupdateteplate")))

@using (Html.DevExtreme().NamedTemplate("cariupdateteplate"))
{
    <div id="cariupdatediv">

    </div>

}

<script>


   // function listele() {

   //         //var divId = $("#carilistele");
   //         //divId.css("visibility", "visible");
   //              $("#cariDatagrid").dxDataGrid("instance").refresh();


   // }


   //$(document).ready(function () {
   //    $(".Sil").click(function () {

   //        if (confirm("Cariyi silmek istediğinizden emin misiniz?")) {
   //            var ID = $(this).attr('name');

   //            $.ajax({
   //                url: '/Kullanici/Delete/' + ID,
   //                type: 'POST',
   //                dataType: 'json',
   //                success: function (data) {
   //                    $(this).parent('td').parent('td').remove();
   //                      $("#buton").load(location.href + " #buton");
   //                    $("#cariDatagrid").dxDataGrid("instance").refresh();
   //                }
   //            });
   //        }

   //    });


       
   //});


    function eklemepopupacma() {
            /*var url = "/Kullanici/CariEkle";*/

            var url = '@Url.Action("CariEkleComp", "Kullanici")';
            var popup = $("#cariekleguncelle").dxPopup("instance"); //popup kullanılacağını belirtiyoruz.
            $.get(url, function (data) {
                debugger;
                popup.show();
                $("#cariekleguncellediv").html(data);
            });

    }

    function update(CariId_) {
        debugger;

        var url_ = '@Url.Action("Update","Kullanici")';
        var popup = $("#cariupdate").dxPopup("instance");

         $.ajax({
                url: url_,
                type: 'GET',
                dataType: 'html',
                data: {
                    "CariId": CariId_
                },
             success: function (data) {
                 debugger;

                    popup.show();
                 $("#cariupdatediv").html(data);

                },
                error: function (error) {
                    console.log(error.Message);
                },
         });


    }



    function selection_changed(selectedItems) {

        document.getElementById("tel").innerHTML = "";

        document.getElementById("address").innerHTML="";

        var data = selectedItems.selectedRowsData[0];
        var cariId = data.CariId;

        getPhones(cariId);
        getAddress(cariId);

    }


    function getPhones(cariId) {
                    $.ajax({
                        url: "/Kullanici/GetTelNo",
                        type: 'GET',
                        dataType: 'json',

                        data: {
                            "id": cariId
                        },
                        success: function (loadData) {

                            for (var i = 0; i < loadData.length; i++) {
                                var tel = $("#tel");
                                tel.append("<tr><td>" + loadData[i].TelefonNo + "</td></tr>");
                            }
                        },
                        error: function (error) {
                            console.log(error.Message);
                        },
                    });
                };

    function getAddress(cariId) {
        $.ajax({
            url: "/Kullanici/GetAdres",
            type: 'Get',
            dataType: 'json',
            data: {
                "id": cariId
            },
            success: function (loadData) {
                for (var i = 0; i < loadData.length; i++) {
                    var address = $("#address");
                    address.append("<tr><td>" + loadData[i].AdresAcıklama + "</td></tr>")

                }
            }
        })
    }

   // $(document).ready(listele())

    
    let list = [];
    function getData() {
        
        
    
        $.ajax({
            url: "https://www.tcmb.gov.tr/kurlar/today.xml?_=1655302892038",
            type: 'GET',
            contentType: "text",
            crossDomain: true,
            success: function (data) {
                debugger;
                             
               
                var tarihSaat = $(data).find("Tarih_Date");
                var cur = $(tarihSaat).find("Currency");
                $(cur).each(function (i, item) {
                    debugger;
                    var veri = {};
                    veri.Id = 1;
                    
                    veri.DovizCinsi = $(item).find("CurrencyName").text();                    
                    veri.DovizAlis = $(item).find("ForexBuying").text();
                    veri.DovizSatis = $(item).find("ForexSelling").text();
                    veri.EfektifAlıs = $(item).find("BanknoteBuying").text();
                    veri.EfektifSatis = $(item).find("BanknoteSelling").text();                  

                    
                 
                    list.push(veri);
                })
                 console.log(list);                
                $("#gridContainerasdasdadssdsdsd").dxDataGrid("instance").refresh();

            }

        });
        
    }
</script>


